<%- include('partials/header.ejs') %>

<div class="container-calendar">
    <div id="calendar"></div>

    <div class="modal-overlay" id="modal-overlay">
        <div class="modal-box"> 
            <span class="close-btn" id="close-btn">&times;</span>
            <!-- <div class="modal-header">Enter an event.</div> -->
            <form class="calendar-form" id="calendar-form">
                <input type="text" name="title" id="title" placeholder="Title" required>
                <label for="allDay">Whole day? </label>
                <input type="checkbox" name="allDay" id="allDay">
                <label for="startDate">From:</label>
                <input type="date" name="startDate" id="startDate">
                <label for="startDate">To:</label>
                <input type="date" name="endDate" id="endDate">
                <button type="submit">Add Event</button>
            </form>
        </div>
    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/calendar.js"></script>
<%- include('partials/footer.ejs') %>