<%- include('partials/header.ejs') %>

<div class="container-calendar">
    <div id="calendar"></div>

    <!-- Show in a card the upcoming activities -->
    <div class="upcoming-container">
        <div class="justify-between upcoming-header">
            <h2>Upcoming Events</h2>
            <button>Add Event</button>
        </div>
        <div class="upcoming-list card-shape">
            <!--Insert the Upcoming tasks-->
        </div>
    </div>

    <div class="modal-overlay" id="modal-overlay">
        <div class="modal-box"> 
            <span class="close-btn" id="close-btn">&times;</span>
            <!-- <div class="modal-header">Enter an event.</div> -->
            <form class="form-modal" id="form-calendar">
                <div class="flex-column gap-0">
                    <h3>Add Event</h3>
                    <p>Add your events to keep up to date with yout tasks.</p>
                </div>
                <div class="flex-column">
                    <label for="calendar-title">Title</label>
                    <input type="text" name="calendar-title" id="calendar-title" placeholder="Title" required>
                </div>
                <div class="flex-column">
                    <label for="calendar-title">Description</label>
                    <textarea id="calendar-description" name="calendar-description" rows="3" cols="33"
                        placeholder="What is this about?"></textarea>
                </div>
                <div class="justify-start">
                    <label for="allDay">Whole day?</label>
                    <input type="checkbox" name="allDay"  class="all-day" id="allDay">
                </div>
                <div class="flex-column">
                    <label for="startDate">From:</label>
                    <input type="date" name="startDate" id="startDate">
                    <input type="time" name="startTime" id="startTime">
                </div>
                <div class="flex-column">
                    <label for="startDate">To:</label>
                    <input type="date" name="endDate" id="endDate">
                    <input type="time" name="endTime" id="endTime">
                </div>
                <input type="hidden" value="">
                <button type="submit">Add Event</button>
            </form>
        </div>
    </div>

    <div class="modal-overlay" id="modal-overlay-event">
        <div class="modal-box-event">
            <div class="modal-event">
                <div>
                    <h3>Event details</h3>
                    <span class="close-btn" id="close-btn-event">&times;</span>
                </div>
            </div>
                <hr>
            <div class="modal-event">
                <div class="left-border">
                    <h2 class="event-header" id="event-title">Event Title</h2>
                    <span>Group Name</span>
                </div>

                <div class="justify-start">
                    <div>Start:</div>
                    <p id="event-start-date"></p>   
                </div>
                <div class="justify-start">
                    <div>End:</div>
                    <p id="event-end-date"></p>   
                </div>
                
                <div class="justify-start">
                    <div>Participants:</div>
                    <p id="event-participants">Guillaume</p>
                </div>

                <div class="card-shape-2 flex-column gap-10">
                    <div>Description:</div>
                    <div id="event-description">Description Text</div>            
                </div>
            </div>
        </div>
    </div>

    <div id="template-upcoming">
        <div class="justify-between">
            <h3 id="event-title">Event Title</h3>
            <div class="badge-secondary" id="group-name">Group</div>
        </div>
        <div class="justify-start" id="event-participants">
            <div class="badge-secondary">Participants</div>   
        </div>
        <span id="event-description">Description</span>
        <div class="justify-start">
            <span id="startDate">Start Time</span>
            <span id="endDate">End Date</span>    
        </div>
    </div>

</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/calendar.js"></script>
<%- include('partials/footer.ejs') %>