<body class="auth-page">
<%- include('partials/header.ejs') %>
<main>
    <div class="login-container">
        <div class="login-card card-shape">
            <h1>CalendarTracking</h1>
            <h2>Welcome back!</h2>
            <p>Please enter your details.</p>
            
            <form method="post" action="/login" class="flex-column justify-center">
                <input type="email" id="email" name="email" placeholder="Enter Email">

                <input type="password" id="password" name="password" placeholder="Enter password">    

                <input type="submit" value="Login">
            </form>

            <p>Not signed up yet?</p>

            <form method="get" action="/register" class="flex-column">
                <input type="submit" value="Register">
            </form>
        </div>     
    </div>
    

<%- include('partials/footer.ejs') %>