
body {
    font-family: 'Inter', sans-serif;
}

.container {
    height: auto;
    width: 95vw;
}

.container-calendar {
    width: 80vw;
    height: auto;
    margin: auto;
}

p {
    font-size: 14px;
    color: oklch(0.35 0 0);
    margin: 5px 0;
}

span {
    font-size: 12px;
    color: oklch(0.35 0 0);
}
